{% extends 'base.html' %}
{% load listings_tags static %}
{% block headtitle %}Search Home Listings from BT Real Estate{% endblock headtitle %}
{% block content %}
    <section id="showcase-inner" class="showcase-search text-white py-5">
        <div class="container">
            <div class="row text-center">
                <div class="col-md-12">
                    <form action="/listings/search" method="post">
                        {% csrf_token %}
                        <!-- Form Row 1 -->
                        <div class="form-row">
                            <div class="col-md-4 mb-3">
                                <label class="sr-only">Keywords</label>
                                {{ form.keywords }}
                            </div>

                            <div class="col-md-4 mb-3">
                                <label class="sr-only">City</label>
                                {{ form.city }}
                            </div>

                            <div class="col-md-4 mb-3">
                                <label class="sr-only">State</label>
                                {{ form.state }}
                            </div>
                        </div>
                        <!-- Form Row 2 -->
                        <div class="form-row">
                            <div class="col-md-6 mb-3">
                                <label class="sr-only">Bedrooms</label>
                                {{ form.bedrooms }}
                            </div>
                            <div class="col-md-6 mb-3">
                                {{ form.max_price }}
                            </div>
                        </div>
                        <button class="btn btn-secondary btn-block mt-4" type="submit">Submit form</button>
                    </form>
                </div>
            </div>
        </div>
    </section>

    <!-- Breadcrumb -->
    <section id="bc" class="mt-3">
        <div class="container">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="{% url 'index' %}">
                            <i class="fas fa-home"></i> Home</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="{% url 'listings' %}">Browse Listings</a>
                    </li>
                    <li class="breadcrumb-item active"> Search Results</li>
                </ol>
            </nav>
        </div>
    </section>

    <!-- Listings -->
    <section id="listings" class="py-4">
        <div class="container">
            <div class="row">
                {% for listing in listings %}
                    {% show_listing_tile listing %}
                {% empty %}
                    <div>
                        <p>No Listings Match Your Search Criteria.</p>
                    </div>
                {% endfor %}

            </div>
        </div>
    </section>
{% endblock content %}
