{% extends 'base.html' %}
{% block headtitle %}Register Your Account | BT Real Estate{% endblock headtitle %}
{% block content %}
    <section id="register" class="bg-light py-5">
        <div class="container">
            <div class="row">
                <div class="col-md-6 mx-auto">
                    <div class="card">
                        <div class="card-header bg-primary text-white">
                            <h4>
                                <i class="fas fa-user-plus"></i> Register</h4>
                        </div>
                        {% if form.errors %}
                            <div class="alert alert-danger">
                                <strong>Please Correct the Errors Below</strong>
                            </div>
                            {% for error in form.non_field_errors %}
                                <div class="alert alert-danger">
                                    <strong>{{ error|escape }}</strong>
                                </div>
                            {% endfor %}
                        {% endif %}
                        <div class="card-body">
                            <form id="register-form" action="{% url 'register' %}" method="post">
                                {% csrf_token %}
                                <div class="form-group">
                                    {{ form.first_name.label_tag }}
                                    {{ form.first_name }}
                                </div>
                                <div class="form-group">
                                    {{ form.last_name.label_tag }}
                                    {{ form.last_name }}
                                </div>
                                <div class="form-group">
                                    {% for error in form.username.errors %}
                                        <div class="alert alert-danger">{{ error }}</div>
                                    {% endfor %}
                                    {{ form.username.label_tag }}
                                    {{ form.username }}
                                </div>
                                <div class="form-group">
                                    {% for error in form.email.errors %}
                                        <div class="alert alert-danger">{{ error }}</div>
                                    {% endfor %}
                                    {{ form.email.label_tag }}
                                    {{ form.email }}
                                </div>
                                <div class="form-group">
                                    {% for error in form.password.errors %}
                                        <div class="alert alert-danger">{{ error }}</div>
                                    {% endfor %}
                                    {{ form.password.label_tag }}
                                    {{ form.password }}
                                </div>
                                <div class="form-group">
                                    {{ form.password_validate.label_tag }}
                                    {{ form.password_validate }}
                                </div>
                                <input type="submit" value="Register" class="btn btn-secondary btn-block">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}

{% block endjs %}
    <script type="text/javascript">
        // Validate that the passwords match
        const id_password_validate_field = $('#id_password_validate');
        const id_password_field = $('#id_password');

        id_password_validate_field.blur(function () {
            if (id_password_field.val() === id_password_validate_field.val()) {
                id_password_field[0].setCustomValidity(''); // Clear validity error
            } else {
                id_password_field[0].setCustomValidity('Passwords do not match.');
            }
        });
    </script>
{% endblock %}
